body{
    overflow-x: hidden;
}
section{
    background-color: #070707;
}

#aboutme {
    min-height:100vh;
    background-color: #070707;
}

#aboutme .cont{
    height: calc(calc(100vh - 11rem) / 2);
}

#aboutme  img{
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

#aboutme h2{
    color: #2abceb;
}
#aboutme p{
    color: #fff;
}
#aboutme .trajectory p{
    text-align: left;
    padding-right: 15px;
    float: right;
}
#aboutme .trajectory img{
    right: 0;
}
#aboutme .about img{
    left: 0;
}
#aboutme .about p{
    float: left;
    text-align: left;
    padding-right: 20%;
}
.divider{
    height: 1px;
    margin-top:    calc(0.5rem - 1px);
    margin-bottom: 0.5rem;
}

#aboutme #a-me{
    background-color: #000;
    color: #fff;
    right: 0;
    text-align: right;
    padding-right: 15px;
}
#aboutme #a-tr{
    background-color: #fff;
    color: #000;
    left: 0;
    text-align: left;
    padding-left: 15px;
}
.clearable{
    display: none;
}
.active .clearable{
    display: block;
}

/**/

#series .gallery{
    height:     calc(95vh - 11rem);
    max-height: calc(95vh - 11rem);
}

#series .aside img:nth-child(1){
    height: 40%;
    margin-bottom: 1rem;
}
#series .aside img:nth-child(2){
    height: calc(60% - 1rem);
}

#series .poster img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#series .poster .description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 1s; /* Safari */
            transition: opacity 1s;
}
#series .description h3{
    text-align: center;
    margin: calc(20% - 1rem) auto;
    font-size: 2rem;
}
#series .description p{
    width: 75%;
    margin: 0px auto 1rem auto;
    text-align: center;
}

#series .row .gallery:hover .description{
    opacity: 1;
}


#series .even{}


/**/

#contact .modal-content {
    color: #fff;
    background-color: #070707;
    border: 2px solid #ccc;
    border-radius: 35px 0 35px 0;
}
#contact .modal-content .modal-header{
    border-bottom: none;
}
#contact .modal-content .modal-header img{
    height: 12vh;
    width: auto;
}
#contact .modal-body{
    border-bottom: none;
}
#contact .modal-footer{
    border-top: none;
    padding: 10px 0;
}

.modal-header img{
    margin: 0 auto;
    width: 25%;
    min-width: 100px;
}
.modal-header .close{
    margin-left: 0;
    color: #fff;
}
#contact .modal-content hr{
    width: 50%;
    border-top: 2px solid #ccc;
}

.form-control{
    color: #fff;
    background-color: transparent;
    border-radius: 0;
}
.form-control:focus {
    color: #fff;
    background-color: #495057;
    border: 1px solid #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-group:last-child .form-control{
    border-radius: 0 0 25px 0;
}
.form-group:last-child button{
    border-radius: 0 0 15px 0;
    color:#EE2426;
    font-weight: bold;
}




.modal-footer {
  
}
.modal-footer a {
  color: #2abceb;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}
.modal-footer a:hover {
  color: white;
}


#sm-share{
    max-width: 80%;
    margin: auto;
}
#sm-share .modal-content{
    background-color: red;
    min-height: 50vh;
}















#notice{
    
    background-image: url('/assets/img/surcos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    z-index: -1;
}
#notice .header{
        height: calc(85vh - 7rem);
}
#notice .header img{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
#notice .logo{
    text-align: center;
    background-color: #020202;
    height: 10vh;
    padding: 10px;
}
#notice .logo img{
    object-position: center;
    object-fit: contain;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
#notice .data{
    text-align: center;
    height: 10vh;
    width: 100%;
    background: rgb(125,126,130); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(125,126,130,1) 0%, rgba(7,7,7,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(125,126,130,1) 0%,rgba(7,7,7,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(125,126,130,1) 0%,rgba(7,7,7,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e82', endColorstr='#070707',GradientType=1 ); /* IE6-9 */
    padding: 10px;
}
#notice .data img{
    object-position: center;
    object-fit: contain;
    margin: 0 auto;
    height: 100%;
    width: auto;
}